<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="edu.swjtuhc.mapper.HomepageMapper">
 
 <resultMap type="edu.swjtuhc.model.Rotation" id="rotation_result">
	<id column="chartId" property="chartId" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
	<result column="poster" property="poster" javaType="java.lang.String" jdbcType="VARCHAR"></result>
	<result column="musicId" property="musicId" javaType="java.lang.Integer" jdbcType="INTEGER"></result> 
 </resultMap>
 
 <resultMap type="edu.swjtuhc.model.MusicForm" id="musicForm_result">
	<id column="userId" property="userId" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
	<result column="formId" property="formId" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
	<result column="formName" property="formName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
	<result column="musicName" property="musicName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
	<result column="singer" property="singer" javaType="java.lang.String" jdbcType="VARCHAR"></result>
	<result column="album" property="album" javaType="java.lang.String" jdbcType="VARCHAR"></result>
	<result column="allTime" property="allTime" javaType="java.sql.Time" jdbcType="TIME"></result>
	<result column="cover" property="cover" javaType="java.lang.String" jdbcType="VARCHAR"></result> 
 </resultMap>
 
 <resultMap type="edu.swjtuhc.model.Video" id="videoForm_result">
	<id column="videoId" property="videoId" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
	<result column="userId" property="userId" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
	<result column="videoName" property="videoName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
	<result column="label" property="label" javaType="java.lang.String" jdbcType="VARCHAR"></result>
	<result column="storagePath" property="storagePath" javaType="java.lang.String" jdbcType="VARCHAR"></result>
	<result column="uploadTime" property="uploadTime" javaType="java.sql.Time" jdbcType="TIME"></result>
 </resultMap>
 
 <select id="selectRotations" resultMap="rotation_result">
	select
	*
	from Rotation
 </select>
 
 <select id="selecthomepageForm" resultMap="musicForm_result">
 	select
 	cover,formName
 	from musicForm
 </select>
 
 <select id="selecthvideoForm" resultMap="videoForm_result">
 	select
 	videoName,storagePath
 	from video
 </select>
 
</mapper>