<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="edu.swjtuhc.mapper.UserMapper">
 	<resultMap type="edu.swjtuhc.model.user" id="user_result"> 
 		<id column="u_id" property="u_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
 		
 	</resultMap>
 </mapper>